################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs/AddonUpdater/v17/ipch/*
/.vs/AddonUpdater/v17/Browse.VC.db
